body{
  font-family: system-ui;
}

input {
  background-color: rgb(12, 3, 3);
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #eee;
  transition: 1s;
}
input:hover {
  transform: scale(1.1);
  letter-spacing: 1.5px;
}
span {
  background-color: red;
  padding-top: 10px;
  text-align: center;
}
span::before {
  content: "Total : ";
}
button {
  background-color: rgb(88, 3, 127);
  color: #fff;
  outline: none;
}
button:hover {
  background-color: rgb(109, 26, 148);
  letter-spacing: 1.5px;
  transition: 1s;
  outline: none;
}

